.pc-header {
    height: 100%;
    width: 100%;
    padding: 0px 20px;
    background-color: #1e90ff;
  }

.pc-profile-logo {
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0px 3.7px rgba(0, 0, 0, 0.017), 0 0px 7.4px rgba(0, 0, 0, 0.024),
    0 0px 11.4px rgba(0, 0, 0, 0.03), 0 0px 16.7px rgba(0, 0, 0, 0.036),
    0 0px 25.8px rgba(0, 0, 0, 0.043), 0 0px 51px rgba(0, 0, 0, 0.06);
}
.pc-profile {
  gap: 20px;
}
