.pc-nav {
  height: 47px;
  margin: 10px 0px 5px 0px;
  justify-content: space-evenly;
}
.pc-nav > a {
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: #20dc1d;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.1s;
  border-bottom: 1px solid #20dc1d;
}
.pc-nav > a:hover {
  background: #20dc1d;
  color: white;
  border-bottom: 10px solid #19b317;
  transform: rotateX(10deg);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}
