*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;

  font-family: monospace;
  height: 100vh;
  width: 100%;

  display: grid;
  flex-direction: row;
  justify-content: space-between;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "p-header p-nav"
    "p-header p-main"
    "p-footer p-main";
}
#p-header {
  grid-area: p-header;
  height: 100%;
  width: 100%;
  padding: 0px 20px;
  background-color: #1e90ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#p-sidebar {
  grid-area: p-sidebar;
}
#p-footer {
  grid-area: p-footer;
  width: fit-content;
  grid-template-rows: 1fr;
  width: 100%;
  gap: 15px;
  padding: 10px 0px;
  background-color: #1e90ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#p-footer img {
  background: white;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  padding: 10px;
}
#p-footer img:hover {
  background: #efefef;
}

#p-main {
  grid-area: p-main;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  gap:10px;
  font-size: 2rem;
  font-weight: bold;
}

#p-nav {
  grid-area: p-nav;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  width: 100%;
}
#p-nav > a {
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: #20dc1d;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.1s;
  border-bottom: 1px solid #20dc1d;
}
#p-nav > a:hover {
  background: #20dc1d;
  color: white;
  border-bottom: 10px solid #19b317;
  transform: rotateX(10deg);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.profile-logo {
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0px 3.7px rgba(0, 0, 0, 0.017), 0 0px 7.4px rgba(0, 0, 0, 0.024),
    0 0px 11.4px rgba(0, 0, 0, 0.03), 0 0px 16.7px rgba(0, 0, 0, 0.036),
    0 0px 25.8px rgba(0, 0, 0, 0.043), 0 0px 51px rgba(0, 0, 0, 0.06);
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button:hover {
  background-color: #efefef;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
  }
  #p-header {
    height: 85vh;
    width: 100%;
  }
  #p-footer {
    height: 15vh;
    width: 100%;
  }
  #p-nav {
    height: 15vh;
    width: 100%;
  }
  #p-main {
    height: 85vh;
    width: 100%;
  }
  
}
